#field, label {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small; }

#field {
  margin-left: .5em;
  float: left; }

label.error {
  padding-left: 16px;
  margin-left: .3em;
  color: #9e2828;
  font-size: 15px; }
label.valid {
  display: block;
  width: 16px;
  height: 16px; }

br {
  clear: both; }

input {
  border: 1px solid #000;
  margin-bottom: .5em; }
  input.error {
    border: 1px solid red; }
